.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 800px;
  justify-content: center;
  margin-bottom: 20px;
}

.overlap-btn{
  padding: 12px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}


